.card img {
  height: 400px;
}

.icon a {
  padding: 10px;
}

.icon a:hover {
  opacity: 0.8;
}

.sm img {
  width: 500px;
  height: 300px;
  padding: 10px;
}

.dm {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: blueviolet;
  font-size: 23px;
}

.bg-color {
  background-color: #4a4947;
}
